name: Lint Check

on: [pull_request]
jobs:
  golangci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.22'
      - name: "Run lint"
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.58.0
          args: --timeout=10m
          only-new-issues: true